.imperial-script-regular {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}
h1 {
  text-align: center;
  background-color: blue;
}
footer {
  text-align: center;
}
body {
  background-color: aqua;
}
